<div class="border py-4"></div>
<!-- Products items start -->
<div class="text-center">
    <h4>Login</h4>
</div>
<div class="row my-2">
    <div class="col-4"></div>
    <div class="col-4">
        <form>
            <div class="mb-3">
                <label class="form-label">Email/Mobile</label>
                <input type="text" class="form-control" aria-describedby="emailHelp" name="status" [(ngModel)]="existingUser.status">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="text" class="form-control" name="password" [(ngModel)]="existingUser.password">
            </div>
            <button type="submit" class="btn btn-primary" (click)="userLogin(existingUser)">Login</button>
        </form>
        <div class=" #">
            <a class="forgot m-2" href="#">Forgot Password</a><a class="forgot m-2" href="#">Forgot Email</a>
        </div>
    </div>
    <div class="col-4"></div>
</div>
<!-- Products items End -->